body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    135deg,
    #2c3e50,
    #1f2d38 10px,
    #1f2d38 10px,
    #1f2d38 11px,
    #2c3e50 12px
  );
  font-family: Arial, sans-serif;
}

.calculator {
  background-image: linear-gradient(135deg, #2c3e50 25%, #1f2d38 25%, #1f2d38 50%, #2c3e50 50%, #2c3e50 75%, #1f2d38 75%, #1f2d38 100%);
  background-size: 500px 500px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 
      0px 10px 15px rgba(0, 0, 0, 0.1), /* First light shadow */
      0px 20px 30px rgba(0, 0, 0, 0.2), /* Darker shadow */
      0px 30px 40px rgba(0, 0, 0, 0.3); /* Deepest shadow for depth */
}

  
  .calculator-screen {
    width: 90%;
    height: 80px;
    background-color: #142f4a;
    color: white;
    text-align: right;
    border: none;
    padding: 20px;
    border-radius: 15px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2), inset -4px -4px 10px rgba(255, 255, 255, 0.1);
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  button {
    height: 60px;
    width: 60px; 
    background-color: #fefeff;
    color: #2c3e50;;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.9), -8px -8px 20px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: #3b5267;
    box-shadow: 4px 4px 10px rgba(239, 229, 229, 0.2), -4px -4px 10px rgba(255, 255, 255, 0.1);
  }
  
  .operator {
    background-color: #f39c12;
  }
  
  .operator:hover {
    background-color: #e67e22;
  }
  
  .equal-sign {
    background-color: #27ae60;
    grid-column: span 2;
    width: 100%; 
    height: 60px;
    border-radius: 15px; 
  }
  
  .equal-sign:hover {
    background-color: #2ecc71;
  }
  
  .all-clear {
    background-color: #e74c3c;
  }
  
  .all-clear:hover {
    background-color: #c0392b;
  }
  